.imgFormat {
  padding-left: 2%;
  padding-bottom: 2%;
  height: 300px;
  display: grid;
  padding: 0.5rem;
  border-radius: 15px;
}

.imgFormat :hover {
  box-shadow: inset;
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
