.services-background {
  background-color: brown;
}

div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-services {
  margin-bottom: 10px;
}

/*Serviece Section Title styling */
h6 {
  font-size: 40px;
  font-family: "Arvo", serif;
  font-weight: bold;
}
