.services-background {
  background-color: brown;
}

div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-services {
  margin-bottom: 10px;
}

/*Serviece Section Title styling */
h6 {
  font-size: 40px;
  font-weight: bold;
}

/*Media queries Title Styling */
@media only screen and (max-width: 768px) {
  h6 {
    margin-right: 100px;
    justify-content: flex-start;
  }
}
