#contact-hoursOperation{
  font-size: 2rem;
  color: #F9F9F9;
  text-align: center;
}

.row-operationHours-table{
  font-size: 1.3rem;
  padding-top: 50px;
  justify-content: center;
}

.table-operationHours {
  color: #F9F9F9;
  text-align: center;
  max-width: 100%;
}

tbody > tr > td{
  font-size: 1.3rem;
}

@media only screen and (max-width: 360px) {
  tbody > tr > td{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 576px) {
  .table-operationHours{
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .table-operationHours{
    max-width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .table-operationHours{
    max-width: 50%;
  }
  tbody > tr > td{
    font-size: 1.5rem;
  }
}
