#p-operationHours{
  font-size: 40px;
  color: #F9F9F9;
  text-align: center;
  margin-top: 2%;
}

.row-operationHours-table{
  font-size: 30px;
  justify-content: center;
}

.table-operationHours {
  color: #F9F9F9;
  text-align: center;
  max-width: 100%;
  line-height: normal;
}

/* Sizing Down */
@media only screen and (max-width: 360px) {
}

@media only screen and (max-width: 992px) {
  #p-operationHours{
    font-size: 20px;
  }
  .row-operationHours-table{
    font-size: 15px;
  }
}

/* Sizing up */
@media only screen and (min-width: 576px) {
  .table-operationHours{
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .table-operationHours{
    max-width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .table-operationHours{
    max-width: 50%;
  }
}
