.icon {
  width: 40px;
  font-size: 25px;;
}

.background {
  background-color: lightgrey;
}

  /* Card styling*/
  .phone {
    font-size: 20px;
  }
  
  .email {
    font-size: 15px;
  }

@media (min-width: 768px) {
  .icon-row {
    display: flex;
    flex-wrap: nowrap;
  }
}
