.locations{
    font-size: 3.5vw;
}

#area-header{
    text-align: center;
}

.col-locations{
    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
}

/* Media Queries to prevent font size keeps from shrinking or oversizing */
@media only screen and (max-width: 380px) {
    .locations {
      font-size: xx-small;
    }

}

@media only screen and (min-width: 700px) {
    .locations {
      font-size: large;
    }
}