:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --roseGold: #b76e79;
  --card-back-light: url('../images/heroImg.jpg');
  --card-back-dark: url('../images/2022-03-03.jpg');
}

/* Card styling*/
.mx-auto {
  box-shadow: 5px 5px 20px rgb(130, 129, 129);
}

.mx-auto:hover {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.flex-container {
  display: flex;
  flex-flow: column;
}

.card-text {
  flex-grow: 1;
}

.card-buttons {
  width: 100%;
  flex-wrap: wrap;
  margin-left: 0.1vw;
}

.buttons {
  margin-bottom: 10px;
  max-width: 400px;
  font-size: 1.1rem;
}

@media only screen and (min-width: 768px) {
  .card-buttons {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons {
    margin-bottom: 0;
    max-width: 125px;
  }
}
