.container-cardServices-main{
  display: flex;
  justify-content: center;
}

.card-cardServices {
  box-shadow: 5px 5px 20px rgb(130, 129, 129);
  border-radius: 10px;
  max-width: 14rem;
  min-width: 10rem;
  animation-name: card-cardServices-load;
  animation-duration: 2s;
}

.card-cardServices:hover {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: grid;
}

.img-cardServices{
  padding: 0;
}

.flex-container {
  display: flex;
  flex-flow: column;
}

.title-cardServices-card{
  color: turquoise;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
}

.card-text {
  flex-grow: 1;
  font-size: 0.7rem;
  min-height: 170px;
}

.card-buttons {
  width: 100%;
  flex-wrap: wrap;
  margin-left: 0.1vw;
}

.buttons {
  margin-bottom: 10px;
  max-width: 400px;
  font-size: 0.6rem;
}

/* Sizing down */
@media only screen and (max-width: 768px) {

}

/* Sizing up */
@media only screen and (min-width: 1200px) {
  .card-buttons {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .buttons {
    margin-bottom: 0;
    max-width: 100px;
  }
}

@keyframes card-cardServices-load {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
