/* for smaller devices */
.small-font {
  font-size: x-small;
}

/* to prevent icons from turning blue */
.link-icons {
  text-decoration: none;
  color: rgb(17, 101, 180);
}

.link-icons-altern {
  text-decoration: none;
  color: lightseagreen;
  font-weight: bold;
}
