.teamImg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imgTeam{
  width: 30vw;
  min-width: 300px;
}

.container-reviews-main1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
}

.container-reviews-main2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.row-reviews-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-reviews-home{
    text-align: center;
    color: #54bab9;
    font-weight: bold;
    font-size: 7vw;
}

.card-review-header1{
    background-color: aquamarine !important;
    color: black !important;
}

.card-review-header2{
    background-color: #e6b103 !important;
}

/* Sizing down */
@media only screen and (max-width: 992px) {

}

/* Sizing up */
@media only screen and (min-width: 768px) {
  .header-reviews-home{
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
  }

  .teamImg-container{
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .header-reviews-home{
    font-size: 3vw;
    padding-left: 5%;
  }
}

.cardAnimation1 {
  position: relative;
  animation: myfirst 1s;
  animation-direction: alternate-reverse;
}

@keyframes myfirst {
  0%   { left: 0;}
  50%   { left: 50%;}
  100% { left: 0;}
}

.cardAnimation2 {
  position: relative;
  animation: mysecond 1s;
  animation-direction: alternate-reverse;
}

@keyframes mysecond {
  0%   { right: 0;}
  50%   { right: 50%;}
  100% { right: 0;}
}