/* Use in individual icons */
.link-icons {
  text-decoration: none;
  color: lightseagreen;
  font-weight: bold;
  font-size: xx-small;
}

.content{
  display: flex;
  justify-content:left;
}

.span{
  width: 10px;
}

/* Sizing up */
@media only screen and (min-width: 430px) {
  .link-icons{
    font-size: x-small;
  }
}

@media only screen and (min-width: 1250px) {
  .link-icons{
    font-size: medium;
  }
}
