/* Use in individual icons */
.link-icons {
  text-decoration: none;
  color: lightseagreen;
  font-weight: bold;
  width:max-content;
}

.content{
  display: flex;
  justify-content:left;
}

.span{
  /* width: 10px; */
}

@media only screen and (min-width: 576px) {
  .content{
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .span{
    /* width: 50px; */
  }
}