.container-main-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-text .icon-social{
  padding-left: 0;
  padding-right: 0;
}

.Navbar-Styling {
  font-family: Arial, Helvetica, sans-serif;
}

/* Scaling Up */
@media only screen and (min-width: 576px) {
  
}

/* Scaling down */
@media only screen and (max-width: 376px) {
}